body,p,h1,h2,h3,h4,h5,h6 {font-family: Palatino Linotype, sans-serif}

* {
    box-sizing: border-box;
}

body, html {
  height: 100%;
  line-height: 1.8;
  font-family: "Roboto";
}

/* Full height image header */
.title_img {
  background-position: center;
  background-size: cover;
  background-image: url("./img/mit.jpg");
  height: 30%;
  /* max-height: 30%; */
}

.team_member {
    width: 20%; /* Change this so you can fit x Team members in a row*/
    float: left;
    padding: 0% 6px;
    min-height: 500px;
}
.team_member p {
  font-size: 10px;
  font-size: 1.5vw;
}
.team_member h4 {
  font-size: 20px;
  font-size: 3vw;
}

.headshot {
    display: block;
    margin:auto;
    max-width: 200px;
    width: auto;
    height: auto;
    max-height: 200px;
    overflow: hidden;
}

.w3-bar .w3-button {
  padding: 16px;
}

.bios {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.card {
    width: 20%;
    height: 80%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    border: 1px solid gray;
    box-shadow: 8px 8px gray;
}

.card img {
    width: 200px;
    padding: 8px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
}